html {
    height: 100%;
}

body {
    background-color: #f7f7f7;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

p, div, span {
    font-size: 16px;
}

footer {
    bottom: 0;
    height: 20px;
    color: white
}

.navbar {
    z-index: 1;
}

.navbar, footer {
    background-color: #4487e9;
    position: fixed;
    width: 100%;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;
}

.white-background {
    background-color: white;
    opacity: 0.9;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

h2, h3, h4, h5, h6,
.uk-card-default .uk-card-title {
    color: #767676;
    font-weight: bold;
}

.white-background p,
.white-background dl {
    padding-left: 20px;
}

.white-background h4 {
    padding-left: 10px;
}

.white-background p {
    padding-bottom: 5px;
}

.white-background h4 {
    padding-top: 20px;
}

.body-content {
    padding-bottom: 40px;
    padding-top: 50px;
}

.q-and-a-question {
    font-size: 20px;
    margin-bottom: 5px;
}

.q-and-a-answer {
    margin-left: 25px;
}

.uk-search-default {
    width: auto;
}

    .uk-search-default .uk-search-input,
    .uk-search-default .uk-search-input:focus {
        background: #fff;
    }

.uk-button {
    text-transform: none;
}

    .uk-button.uk-button-primary {
        background-color: #5cb85c;
        color: #fff;
    }

.uk-list-striped > li:nth-of-type(even) {
    background: #989898;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.uk-button[disabled] {
    cursor: no-drop;
    background-color: transparent;
    color: #999;
    border-color: #e5e5e5;
}
