html {
    height: 100%;
}

body {
    background-color: #eff9f5;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

p, div, span {
    font-size: 16px;
}

footer {
    bottom: 0;
    height: 20px;
    color: white
}

.navbar {
    z-index: 1;
}

.navbar, footer {
    background-color: #0E32A3;
    position: fixed;
    width: 100%;
}

.white-background {
    background-color: white;
    opacity: 0.9;
}

h2 {
    text-align: center;
}

.white-background p,
.white-background dl {
    padding-left: 20px;
}

.white-background h4 {
    padding-left: 10px;
}

.white-background p {
    padding-bottom: 5px;
}

.white-background h4 {
    padding-top: 20px;
}

.body-content {
    padding-bottom: 40px;
    padding-top: 50px;
}

.q-and-a-question {
    font-size: 20px;
    margin-bottom: 5px;
}

.q-and-a-answer {
    margin-left: 25px;
}

.uk-list-striped > li:nth-of-type(even) {
    background: #e5e5e5;
}

.uk-list-striped > li:nth-of-type(odd) {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.uk-search-default .uk-search-input {
    background: #fff;
}
