body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.title-image {
    height:100px;
    float:left;
    display: flex;
}

header>h2 {
    display:inline-block;
}
header>div{
    display:inline-block;
    vertical-align: middle;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  align-content: flex-start;
  align-self: center;
}

.flex-item {
  padding: 15px;
  /*width: 300px;*/
  /*min-height: 150px;*/
  margin-top: 30px;
  text-align: center;
}

.important-text {
    color:red;
}
.photo-container.hotel-photo{
    height:inherit;
}
img.in-flex-photo {
    max-height:100%;
}