
<alert-message #alertMessage></alert-message>

<new-guest [justName]="false" (onGuestAdded)="addGuestToList($event)" (onAlert)="setSuccess($event)"></new-guest>

<table [class.table]="true" [class.table-striped]="true" *ngIf="guests?.length > 0">
    <thead>
        <tr>
            <th> Firs tname </th>
            <th> Surname </th>
            <th> Dietary information </th>
            <th> 13 - 18 years old </th>
            <th> 4 - 12 years old </th>
            <th> under 4 years old </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let guest of guests">
            <td>
                <div id="first-name-{{ guest.id }}" (click)="showAndHide( 'edit-first-name', 'first-name',  guest.id, 'first-name-input')"><span class="fa fa-pencil-square-o"></span> {{ guest.firstName }} </div>
                <div class="form-group" id="edit-first-name-{{ guest.id }}" style="display:none;">
                    <span class="fa fa-pencil-square-o"></span>
                    <input id="first-name-input-{{guest.id}}" type="text" name="firstName" value="{{guest.firstName}}" #firstNameChanged (blur)="updateFirstName(guest, firstNameChanged.value); showAndHide('first-name',  'edit-first-name', guest.id)" />
                </div> 
            </td>

            <td>
                <div id="surname-{{ guest.id }}" (click)="showAndHide( 'edit-surname', 'surname',  guest.id,  'surname-input' )"> <span class="fa fa-pencil-square-o"></span> {{ guest.surname }} </div>
                <div class="form-group" id="edit-surname-{{ guest.id }}" style="display:none;">
                    <span class="fa fa-pencil-square-o"></span>
                    <input id="surname-input-{{guest.id}}" type="text" name="surname" value="{{guest.surname}}" #surnameChanged (blur)="updateSurname(guest, surnameChanged.value); showAndHide('surname',  'edit-surname', guest.id)" />
                </div>
            </td>

            <td>
                <div id="allergies-{{ guest.id }}" (click)="showAndHide( 'edit-allergies', 'allergies',  guest.id,  'allergies-input')"><span class="fa fa-pencil-square-o"></span> {{ guest.allergies }} </div>
                <div class="form-group" id="edit-allergies-{{ guest.id }}" style="display:none;">
                    <span class="fa fa-pencil-square-o"></span>
                    <input id="allergies-input-{{guest.id}}" type="text" class="textarea" name="allergies" value="{{guest.allergies}}" #allergiesChanged  (blur)="updateAllergies(guest, allergiesChanged.value); showAndHide('allergies',  'edit-allergies', guest.id)" />
                </div> 
            </td>

            <td> <div id="child-{{guest.id}}" (click)="updateAge(guest, child)"><span *ngIf="guest.isChild" class="fa fa-check">  </span> <span *ngIf="!guest.isChild"  class="fa fa-times" style="color: lightgrey;">  </span> </div> </td>
            <td> <div id="young-child-{{guest.id}}" (click)="updateAge(guest, youngChild)"><span *ngIf="guest.isYoungChild" class="fa fa-check"> </span> <span *ngIf="!guest.isYoungChild" class="fa fa-times" style="color: lightgrey;"> </span>  </div></td>
           <td> <div id="baby-{{guest.id}}" (click)="updateAge(guest, baby)"><span *ngIf="guest.isBaby" class="fa fa-check">   </span> <span *ngIf="!guest.isBaby"   class="fa fa-times" style="color: lightgrey;">   </span></div> </td>
            <td> <button class="btn btn-danger" (click)="onDelete(guest)"> <div id="delete-text-{{guest.id}}"> <span class="fa fa-trash"> Delete </span> </div> <div id="delete-spin-{{guest.id}}" style="display:none;"><span class="fa fa-circle-o-notch fa-spin"></span></div> </button> </td>
        </tr>
    </tbody>
</table>