<h2>Tell Tony and Sarah whether you plan to  join them on their special day!</h2>

@section AdditionalStyle {
    <link href="@Url.Content("~/Content/RSVP.css")" rel="stylesheet" type="text/css" />
}
@section scripts{
    <link href="@Url.Content("~/Content/RSVP.css")" rel="stylesheet" type="text/css" />
    }

<a class="btn btn-success" href="/RSVP/RSVP" >I'd love to come!</a>
<a class="btn btn-danger" href="/RSVP/CannotCome">I can't make it :(</a>