@using WeddingPlanning.Models;
@{
    ViewBag.Title = "RSVP";
}
<h2>We're glad you can join us :)</h2>
<div class="body-content">
    <div>
        @{Html.RenderPartial("_Guest", ViewData["GuestViewModel"]);}
    </div>
    @if (Request.Cookies.AllKeys.Contains("storer"))
    {
        <div>
            @{Html.RenderPartial("_Children", ViewData["ChildrenViewModel"]);}
        </div>
        
        Html.RenderPartial("_AddedGuests", ViewData["Guests"]);
    }
</div>